/* Variables so it's easier to change the style */
:root {
  --computer-color-text: #000;
  --secondary-color: #f0f0f0;
  --dark-highlight-color: #004291;
  --main-color: #7a316f;
  --user-bubble: #ffafcc;
  --highlight-color: #ffafcc;
  
}

/* Box sizing reset for consistent rendering */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--computer-color-text);
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.chat-box {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  /* border: 7px solid var(tranparent); */
  padding: 25px;
  border-radius: 2%;
  background-color: var(--main-color);

  /* Modern white scrollbar styles */
  scrollbar-width: thin;

  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.1);
}

.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

/* Common bubble styles */
.chat-bubble {
  max-width: 60%;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  opacity: 0;
  transform: translateY(1em);
  transition: all 0.3s ease-out;
  animation: bubbleFadeIn 0.4s forwards;
  position: relative;
  word-break: break-word;
}

@keyframes bubbleFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-bubble.user {
  background-color: var(--user-bubble);
  color: #fff;
  align-self: flex-end;
  margin-left: 40%;
}

.chat-bubble.computer {
  background-color: var(--secondary-color);
  align-self: flex-start;
  color: var(--computer-color-text);
}

.button-bubble {
  align-self: center;
  background-color: var(--main-color);
}

.button-bubble button {
  align-self: center;
  background-color: var(--secondary-color);
  color: #000;
}

.chat-input {
  justify-items: center;
  border: none;
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 20px;
  resize: vertical;
}

.chat-input input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  color: var(--main-color);
  font-size: 16px;
  /* Added focus state for accessibility */
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}

.chat-input button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  /* Hover and Active states for a more interactive experience */
  &:hover {
    background-color: var(--highlight-color);
  }
  &:active {
    background-color: var(--dark-highlight-color);
  }
  /* Added focus state for accessibility */
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%; /* First image 10%, chat-box 80%, and second image 10% */
  align-items: center; /* To vertically center the items */
  gap: 10px; /* You can adjust the gap if needed */
  box-sizing: content-box;
}

.row-img {
  display: flex;
  max-width: 100%;
  margin: 0 25px;
  justify-content: center;
  align-items: center; /* To ensure the image is centered both horizontally and vertically */
}

.row-img img {
  max-width: 100%;
}

.row-img1 {
  display: flex;
  max-width: 100%;
  margin: 0 25px;
  justify-content: center;
  align-items: center; /* To ensure the image is centered both horizontally and vertically */
}

.row-img1 img {
  max-width: 100%;
  transform: scaleX(-1);
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row0 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: left;
}

.row0 button {
  display: flex;
  width: 100px;
  height: 10%;
  justify-content: center;
  background-color: var(--main-color);
}
