/* LoginCard.css */

.login-card {
  width: 600px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.726);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
}

.tab {
  flex: 1;
  color: #a4a3a395;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  background-color: #ccccccb6;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab.active {
  background-color: white; /* Changed active tab color to white */
}

.content {
  padding: 20px;
  /* box-sizing: border-box; Ensures padding doesn't increase the width */
}

input {
  width: 500px;
  height: 75px;
  font-size: 24px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding and border don't increase the width */
  margin-bottom: 10px; /* Consistent 10px margin for spacing */
}

input:not(:last-of-type) {
  margin-bottom: 10px;
}

button {
  width: 200px; /* Set the desired width for the button, adjust as needed */
  padding: 10px;
  background-color: #7a316f;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s; /* Added a smooth transition for hover */
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Make the button a block element to apply the margin auto */
}

button:hover {
  background-color: #a86b9f;
}

/* Add these styles to LoginCard.css */

.image-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 50px; /* Add some padding above and below the image */
}

.image-container img {
  height: 100px;
  width: 100px;
  border-radius: 10px; /* Optional rounded corners */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; /* Add some padding above and below the image */
}
