#container1 {
  /* center content horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  /* set height to fill viewport */
  height: 100vh;
}

#main-image1 {
  
  /* Existing styles */
  max-width: 100%;
  width: 700px; 
  animation: floatUpwards 4s linear infinite;

  /* Update the transform to move the planet up */
  transform: translate(-50%, -20%) translateY(-70%); /* Adjust the translateY value */

  /* Optional: Add some spacing around the image */
  /* padding: 20px; */
  position: relative;
  text-align: center;
}

.image-text-container {
  /* New styles to position the text below the image */
  position: absolute;
  bottom: -30px; /* Adjust this value to control the spacing between the image and the text */
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffe2f5c9;
  padding: 10px;
  border-radius: 5px;
  color: #ffff;
  z-index: 1; /* Ensure the text appears above the image */
  font-size: 35px; /* Adjust the font size as needed */
}

#main-image1 img {
  /* Existing styles */
  max-width: 100%;
  width: 700px;
  animation: floatUpwards 4s linear infinite;
  transform: translate(-50%, -20%) translateY(-70%); /* Adjust the translateY value */
}

.floating-planet1 img {
  /* Styles for the smaller planets */
  width: 240px; /* Adjust this value to control the size of the smaller planets */
  position: absolute;
  transform: translate(-50%, -50%);

  /* Optional: Add some spacing around the planets */
  padding: 20px;
}

.floating-planet1 {
  /* Common styles for the smaller planets */
  max-width: 100%;
  width: 140px; /* Adjust this value to control the size of the smaller planets */
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 20px;
}

/* Positioning of the moons */
.top-moon {
  top: 80%;
  left: -10%;
  animation: floatUpwards 7s linear infinite;
  transform: translate(-50%, -50%); /* Center the center image precisely */
}

/* Add styles for the text box */
.top-moon .image-text11 {
  position: absolute;
  width: 150px;
  text-align: center;
  bottom: -90px; /* Adjust this value to control the spacing between the moon and the text */
  left: -100%;
  transform: translateX(-50%);
  background-color: #ffe2f5c9;
  color: #ffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px; /* Adjust the font size as needed */
}

.left-moon {
  top: 10%;
  left: -20%;
  animation: floatUpwards 7s linear infinite;
  transform: translate(-50%, -50%);
}

/* Add styles for the text box */
.left-moon .image-text22 {
  position: absolute;
  width: 190px;
  text-align: center;
  top: 290%;
  right: 60px; /* Adjust this value to control the spacing between the moon and the text */
  background-color: #ffe2f5c9;
  color: #ffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px; /* Adjust the font size as needed */
}

.right-moon {
  top: 60%;
  right: -40%;
  animation: floatUpwards 7s linear infinite;
  transform: translate(-50%, -50%);
}

/* Add styles for the text box */
.right-moon .image-text33 {
  position: absolute;
  width: 200px;
  text-align: center;
  top: 120px;
  left: -50px; /* Adjust this value to control the spacing between the moon and the text */
  background-color: #ffe2f5c9;
  color: #ffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px; /* Adjust the font size as needed */
}


/* Existing styles for the moon images */
.moon-link .floating-planet1 img {
  width: 240px;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 20px;
}

/* Orbiting Object Animation */
.orbiting-object {
  height: 10px;
  max-width: 20%;
  width: 0px; /* Adjust this value to control the size of the orbiting object */
  position: absolute;
  animation: orbitAroundCenter 60s linear infinite;
}

.orbiting-object img {
  height: 70px;
}

@keyframes orbitAroundCenter {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translateX(350px)
      translateY(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translateX(350px)
      translateY(0);
  }
}

.shooting-star {
  position: absolute;
  top: 0;
  left: 0px;
  animation: shootingStarAnimation 5s linear infinite;
  transform: rotate(45deg); /* Add the rotation here */
}

.shooting-star img {
  width: 290px; /* Adjust the width to make the shooting star smaller */
  height: 30px; /* Maintain the aspect ratio */
}

@keyframes shootingStarAnimation {
  from {
    transform: translate(-50%, -50%) translateX(0) translateY(0) rotate(45deg); /* Set the initial rotation */
  }
  to {
    transform: translate(-50%, -50%) translateX(100vw) translateY(100vh)
      rotate(45deg); /* Set the final rotation */
  }
}

.meteor {
  position: absolute;
  top: -20%; /* Adjust this value to move the meteor higher up */
  animation: meteorAnimation 30s linear infinite;
  transform: rotate(10deg); /* Add the rotation here */
}

.meteor img {
  /* Adjust the width to maintain the meteor's aspect ratio */
  width: 300px;
  /* Set height to 'auto' to maintain the original aspect ratio */
  height: auto;
}

@keyframes meteorAnimation {
  from {
    transform: translate(-50%, -50%) translateX(100vw) translateY(0)
      rotate(10deg);
  }
  to {
    transform: translate(-50%, -50%) translateX(-100vw) translateY(100vh)
      rotate(10deg);
  }
}


/* Add these styles at the end of your existing CSS code */
.textbox-button {
  position: fixed;
  width: 100px;
  top: 20px;
  right: 20px;
  z-index: 9999;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #f5cbe8;
  border: 1px solid #ff5ee7;
  cursor: pointer;
}

.textbox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #98728b;
  padding: 20px;
  border: 1px solid #ffe2f5c9;
  z-index: 99;
  /* Add any other styles you want for the text box */
}

.tab-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #120610c8;
  margin-bottom: 10px;
}

.tab-buttons button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ef8de0c8;
  border: 1px solid #e7d5e1;
  cursor: pointer;
}

.tab-buttons button.active-tab {
  background-color: #db95cf;
}

.tab-content {
  color: #ffff;
  /* Add any styles you want for the tab content */
}

.next-button {
  position: fixed;
  top: 50px; /* Adjust the top value to position the button */
  right: 40px; /* Add this line to move the button to the top right corner */
  padding: 40px;
  background-color: transparent;
  color: white;
  border: 4px solid white;
  border-radius: 15px;
  cursor: pointer;
  width: 30px;
  font-weight: 600;
}
/* Optionally, you can add hover styles to change the button appearance when hovered */
.next-button:hover {
  background-color: #7a316f; /* Change the background color to a slightly darker red on hover */
  /* Add any other styles you want for the button on hover */
}
.dropdown-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}


.dropdown-content {
  position: absolute;
  width: 203px;
  top: 40px;
  left: 850px;
  background-color: #c8a5b9;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1px;
}

.dropdown-content button {
  padding: 8px;
  color: "black";
  font-size: 16px;
  border: none;
  background: none;
  cursor: pointer;
}