/* Button Styling */
.skip-btn {
  margin-top: 20px;  /* space above the button */
  padding: 10px 20px;
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: #7a316f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.skip-btn:hover {
  background-color: #a86b9f;
;
}

.skip-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0,123,255,0.5);
}

/* Center alignment utility */
.center-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* to ensure it occupies the full viewport height */
}


/* Not working, I can't delete it :C */
/* Circle animation */
.circle-animation {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);  /* combined the transforms */
  animation: scaleUp 2s forwards;
}

.title {
  font-size: 24px;
}

@keyframes scaleUp {
  to {
    transform: scale(1);
  }
}

/* Hide content utility */
.hide-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}
